.DS_Store
*.gem
*.rbc
Gemfile.lock
.config
.bundle
.yardoc
_yardoc
coverage
doc
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log/*.log
coverage/
.idea
spec/internal/log
target
build
